<div class="meeting-container">
  <h1>Reuniones</h1>

  <input type="date" [(ngModel)]="fechaFiltro" (change)="filtrarReuniones()" class="date-input"/>

  <ul>
    <div *ngIf="reuniones.length === 0" class="no-meetings">
      No hay reuniones en la fecha seleccionada.
    </div>
    <li *ngFor="let reunion of reuniones" class="meeting-item">
      {{ reunion.dia }} - {{ reunion.hora }} - {{ reunion.duracion }} - {{ reunion.detalle }}
      <button (click)="editarReunion(reunion)" class="meeting-button">Editar</button>
      <button (click)="eliminarReunion(reunion.id)" class="meeting-button">Eliminar</button>
    </li>
  </ul>

  <h2>Crear Nueva Reunión</h2>
  <form (ngSubmit)="crearReunion()" class="meeting-form">
    <input type="date" [(ngModel)]="nuevaReunion.dia" name="dia" required (change)="validateDate($event)" class="date-input"/>
    <div *ngIf="invalidDate" class="error-message">
      No se permiten sábados y domingos.
    </div>

    <input type="number" [(ngModel)]="nuevaReunion.hora" name="hora" required min="8" max="22" (change)="validateHour($event)" class="number-input"/>
    <div *ngIf="invalidHour" class="error-message">
      La hora debe estar entre 8 y 22.
    </div>

    <input type="text" [(ngModel)]="nuevaReunion.duracion" name="duracion" placeholder="Duración" required class="text-input"/>
    <input type="text" [(ngModel)]="nuevaReunion.detalle" name="detalle" placeholder="Detalle" required class="text-input"/>
    <button type="submit" class="meeting-button">Crear</button>
  </form>
  <button (click)="logout()" class="logout-button">Salir</button>
</div>
